[data-md-color-scheme=default] {
  --md-primary-fg-color: #2c3e50 !important;
}

[data-md-color-scheme=slate] {
  --md-primary-fg-color: #2c3e50 !important;
  --md-typeset-a-color: #fc0 !important;
}
